html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.ace_editor{
  position: absolute;
  left: 0%;
  width: 80%;
  height: 100%;
}


